@page
@model IndexModel
@{
    // ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Recipes Sharing Platform </h1>

    <form method="get">
        <div class="form-group">
            <label for="filterName">Search</label>
            <input type="text" id="filterName" name="filter.Name" value="@Model.filter.Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    @if (Model.Recipes != null && Model.Recipes.Any())
    {
        <h3>Search Results</h3>
        <ul>
            @foreach (var recipe in Model.Recipes)
            {
                <li>
                    <a asp-page ="/Recipe/RecipeDetails" asp-route-id="@recipe.Id">@recipe.Name</a>
                </li>
            }
        </ul>
    }
    else if (Model.Recipes != null)
    {
        <p>No results found.</p>
    }

</div>
